.title input {
  border: 1px solid transparent;
  outline: none;
  font-weight: bold;
}

input:focus {
  border: 2px solid var(--blue)
}

#editor , .editor-div {
  width: 98%;
  height: 88vh;
  border: 0 !important;
  overflow-wrap: break-word;
  outline: none;
  border: 1px solid black 
}

/*#editor {
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 3%;
  font-size: 26px
}*/

.editor-div {
  overflow: hidden;
  margin: 0;
  overflow-wrap: break-word;
}

.tools-box,.toolbar , .ql-toolbar {
  height: max-content;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0 !important;
  background: var(--bg);
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  margin: 0;
  z-index: 9999
}

.ql-picker-options {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
}

.tool {
  padding: 0.25rem;
}

.tool ion-icon {
  color: var(--grey);
}

.active ion-icon,
.active {
  color: var(--blue)
}

.h1 {
  font-weight: bold;
  font-size: 26px
}

.int {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  overflow-wrap: break-word !important;
  
}

pre {
  font-family: monospace !important;
}