nav {
  padding: 0.3rem;
  min-height: 30px;
  display: flex;
  flex-direction: row;
}


.right-icons {
  right: 10px;
  position: absolute;
}

.action-box {
  padding: 0.5rem;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.action-chip {
  width: 180px;
  /*180px or 96px or 48% */
  margin: 0.1rem;
  height: 96px;
  background: #5BA3D4;
  border-radius: 5px;
  position: relative;
}

.action-chip img {
  height: 100%;
  margin-left: 0.3em;
  margin-top: 0.1rem;
}

.action-chip-icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%)
}

.action-chip:hover {
  opacity: 0.9;
  filter: blur(0.5px);
  transition: 0.2s;
  transform: scale(0.94);
  z-index: 99
}

.action-chip:nth-child(2) {
  background: #5DD466;
}

.action-chip:nth-child(3) {
  background: #E05E5E;
}

.action-chip:nth-child(4) {
  background: #E8AA5E;
}

.action-chip:nth-child(5) {
  background: #CF69CC;
}

.action-chip:nth-child(6) {
  background: #8C65D5;
}

.action-chip-text {
  color: var(--invert-color);
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%)
}