nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg);
  padding: 0.3rem;
  min-height: 30px;
  display: flex;
  flex-direction: row;
}


.right-icons {
  right: 10px;
  position: absolute;
}

.action-box {
  padding: 0.5rem;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.action-chip {
  width: 180px;
  /*180px or 96px or 48% */
  margin: 0.1rem;
  height: 96px;
  background: #5BA3D4;
  border-radius: 5px;
  position: relative;
}

.action-chip img {
  height: 100%;
  margin-left: 0.3em;
  margin-top: 0.1rem;
}

.action-chip-icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%)
}

.action-chip:hover {
  opacity: 0.9;
  filter: blur(0.5px);
  transition: 0.2s;
  transform: scale(0.94);
  z-index: 99
}

.action-chip:nth-child(2) {
  background: var(--green);
}

.action-chip:nth-child(3) {
  background: var(--red);
}

.action-chip:nth-child(4) {
  background: var(--yellow);
}

.action-chip:nth-child(5) {
  background: var(--pink);
}

.action-chip:nth-child(6) {
  background: var(--violet);
}

.action-chip-text {
  color: var(--invert-color);
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}





.cardbox {
  background: var(--blue);
  border-radius: 7px;
  padding: 0.4rem;
  position: relative;
  width: 40%;
  margin: 0.25rem;
  height: max-content;
}


.cardbox .right-icons {
  top: px;
  font-size: 12px;
}

.card-head {
  font-size: 14px;
  font-weight: 500
}

.card-body {
  width: 100%;
  border-radius: 7px;
  background: none;
}

.card-img {
  width: 100%;
  border-radius: 7px;
}

.scroll-body {
  height: 90%;
  height: webkit-fill-available;
  background: var(--bg);
  overflow: scroll;
}

.main-card {
  margin: 0.3rem;
  font-size: 15px;
}

.main-card .title {
  margin: 0.4rem;
}

.cardbox * {
  color: #fff !important;
}

.card-footer {
  font-size: 12px;
  padding: 0.2rem;
  font-weight: 600;
}

.card-footer .views {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

@media screen and (max-width: 600px) {
  .cardbox {
    width: 90% !important;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}