:root {
  --blue: #4E81CD;
  --bg: white;
  --sec-bg: #DCDFFF;
  --green: #5DD466;
  --red: #E05E5E;
  --yellow: #E8AA5E;
  --pink: #CF69CC;
  --violet: #8C65D5;
  --color: #000;
  --invert-color: #fff;
  --grey: #aaa;
}